

.container__button{
    width:85vw;
    display:flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
  @media (max-width:1000px){
    .container__button{
      justify-content: center;
      margin: 1.5rem 0;
    }
    
    *{
  
      animation: none !important;
    }
  
  }
  


  .Header__button{
    min-width:200px;
    min-height:30px;
    border-radius: 5px;
    font-weight: 700;
    border-width:0px;
    align-self: flex-end;
    transition:background-color 0.05s linear 0s;
    cursor:pointer;
}







  .dark-mode .Header__button{

    animation:infinitiveJumping 0.5s ease 0s infinite normal;
      animation-delay: 3s;
      animation-duration: 3s;
    border:solid 2px #7ddf7a;
    border-top: 0px;
    background-color:#0daec3;
    text-shadow:0px 5px 10px #7ddf7a;
}


    .light-mode .Header__button{
      animation:infinitiveJumping 0.5s ease 0s infinite normal;
      animation-delay: 3s;
      animation-duration: 3s;
        background-color: #f5ca0b;
    }




@keyframes infinitiveJumping{
    0%{ transform:translateY(0); }
    2%,4%{ transform:translateY(-12px); }
    6%{ transform:translateY(0); }
    8%{ transform:translateY(-5px); }
    10%{ transform:translateY(0); }

    }
   
    @keyframes change-light-dark {
    0%{ background-color: #f5ca0b; }
    100%{ background-color:#0daec3;}
    }
    @keyframes change-dark-light {
        0%{ background-color:#0daec3;}
        100%{ background-color: #f5ca0b; }
        }