
.container{
  display: flex;
  flex-direction: column;
  flex-flow:wrap;
  justify-content: center;

  &__tarjeta {
    @extend .container;
    flex-direction:column;
    align-items:center;
    margin: 10px 20px;
    border-radius: 200px;
 

   
    &--subInfo{
      list-style: none;
      overflow: hidden;
      
      .subInfo__wall{
        max-width: fit-content;
        max-height: fit-content;
        position: absolute;
        display: none;
        z-index: 1;
       
        }

        .subInfo__img--container{
          width: 300px;
          height:300px;
  
          }
      
      .subInfo__img{
        position: relative;
        border-radius:2px;
        animation: slideInDown 2s both;
        z-index: 0;

        }
    
    }
      
    &--subInfo:hover{
      .subInfo__wall{
        animation-name: slideInInfoDown;
        animation-duration: 2s;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
   
    }
      
  }

    

  }


.favorite{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height:50px;
  width: 90vw;
  
   &__characters{
   aspect-ratio: 1;
   border-radius: 100%;
   width:50px;
   height:50px;
 }
}


   @keyframes slideInDown {
   0% {
   -webkit-transform: translateY(-100%);
   transform: translateY(-100%);
   visibility: visible;
   }
   100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   }
 }

 @keyframes slideInInfoDown {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  }
}
