
.container{
  display: flex;
  flex-direction: column;
  flex-flow:wrap;
  justify-content: center;


  .Header__button{
    min-width:200px;
    min-height:30px;
    border-radius: 5px;
    font-weight: 700;
    border-width:0px;
    align-self: flex-end;
    transition:background-color 0.05s linear 0s;
    cursor:pointer;
}

.container__button{
  width:85vw;
  display:flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
@media (max-width:1000px){
  .container__button{
    justify-content: center;
    margin: 1.5rem 0;
  }
  
*{

    animation: none !important;
}

}


  &__cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__search{
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 30vh;
    input{
      min-width: 170px;
      width: 30vw;
      font-size:clamp(1rem, 5vw, 1.5rem);
      height: clamp(20px, 5vw, 30px);;
      text-align:center;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: rgba(0, 0, 0, 0.50);
      outline: none;
      color: #fff;
    }
  }

  &__card {
    @extend .container;
    flex-direction:column;
    align-items:center;
    margin: 10px 20px;
    border-radius: 200px;
 

   
    &--subInfo{
      list-style: none;
      
      .subInfo__wall{

        position: absolute;
        display: none;
        z-index: 1;
        color:lemonchiffon;
        width: 300px;
        height:300px;
        background-color: rgba(0, 0, 0, 0.50);
        font-size: 1.3rem;
        font-weight: 500;
       
        }

        .subInfo__img--container{
          width: 300px;
          height:300px;
  
          }
      
      .subInfo__img{
        position: relative;
        border-radius:2px;
        animation: fadeIn 0.5s both;
        z-index: 0;

        }
    
    }
      
    &--subInfo:hover{
      .subInfo__wall{
        animation: fadeIn 0.5s both;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       }
   
    }
      
  }

  &__favorite{

    align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:50px;
    position: relative;

    width: 90vw;
     &--characters{
     aspect-ratio: 1;
     border-radius: 100%;
     width:50px;
     height:50px;
    }
    .heart{
     aspect-ratio: 1;
     
      background-size:contain;
      background-image: url(../assets/icons/heart.svg);
      min-width: 25px;
      min-height: 25px;
      background-position: center;
      width: 4vw;;
      height: 4vh;
      background-repeat: no-repeat;
    }
    
  }
  
  }



  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

  .dark-mode .Header__button{

    animation:jump 0.5s ease 0s 1 normal;
   
}


    .light-mode .Header__button{

  animation:jumpInfinite 0.5s ease 0s infinite normal;
  animation-delay: 3s;
  animation-duration: 3s;
    background-color: #f5ca0b;
}

.dark-mode .Header__button{
    


    border:solid 2px #7ddf7a;
    border-top: 0px;
    background-color:#0daec3;
    text-shadow:0px 5px 10px #7ddf7a;
   
}
@keyframes jumpInfinite{
    0%{ transform:translateY(0); }
    2%,4%{ transform:translateY(-12px); }
    6%{ transform:translateY(0); }
    8%{ transform:translateY(-5px); }
    10%{ transform:translateY(0); }

    }
   
    @keyframes change-light-dark {
    0%{ background-color: #f5ca0b; }
    100%{ background-color:#0daec3;}
    }
    @keyframes change-dark-light {
        0%{ background-color:#0daec3;}
        100%{ background-color: #f5ca0b; }
        }