
.container{
  display: flex;
  flex-direction: column;
  flex-flow:wrap;
  justify-content: center;
  &__cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__search{
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 30vh;
    input{
      min-width: 170px;
      width: 30vw;
      font-size:clamp(1rem, 5vw, 1.5rem);
      height: clamp(20px, 5vw, 30px);;
      text-align:center;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: rgba(0, 0, 0, 0.50);
      outline: none;
      color: #fff;
    }
  }

  &__card {
    @extend .container;
    flex-direction:column;
    align-items:center;
    margin: 10px 20px;
    border-radius: 200px;
 

   
    &--subInfo{
      list-style: none;
      
      .subInfo__wall{

        position: absolute;
        display: none;
        z-index: 1;
        color:lemonchiffon;
        width: 300px;
        height:300px;
        background-color: rgba(0, 0, 0, 0.50);
        font-size: 1.3rem;
        font-weight: 500;
       
        }

        .subInfo__img--container{
          width: 300px;
          height:300px;
  
          }
      
      .subInfo__img{
        position: relative;
        border-radius:2px;
        animation: fadeIn 0.5s both;
        z-index: 0;

        }
    
    }
      
    &--subInfo:hover{
      .subInfo__wall{
        animation: fadeIn 0.5s both;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       }
   
    }
      
  }

  &__favorite{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:50px;
    width: 90vw;
    
     &--characters{
     aspect-ratio: 1;
     border-radius: 100%;
     width:50px;
     height:50px;
    }
  }
  
  }


.heart{
  background-image: url(../assets/icons/heart.svg);
  width: 20px;
  height: 20px;
}

  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
