.container, .container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 30vh;
  padding-right: 20px;
}

.container__search--icon {
  background-image: url(../assets/icons/loupe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 0.7rem;
}

.container__search input {
  min-width: 170px;
  width: 30vw;
  font-size: clamp(1rem, 5vw, 1.5rem);
  height: clamp(20px, 5vw, 30px);
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #fff;
}

.container__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  border-radius: 200px;
}

.container__card--subInfo {
  list-style: none;
}

.container__card--subInfo .subInfo__wall {
  position: absolute;
  display: none;
  z-index: 1;
  color: lemonchiffon;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 500;
}

.container__card--subInfo .subInfo__img--container {
  width: 300px;
  height: 300px;
}

.container__card--subInfo .subInfo__img {
  position: relative;
  border-radius: 2px;
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  z-index: 0;
}

.container__card--subInfo:hover .subInfo__wall, .container__card--subInfo:focus .subInfo__wall {
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__favorite {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
  position: relative;
  width: 90vw;
}

.container__favorite--characters {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.container__favorite .heart {
  aspect-ratio: 1;
  background-size: contain;
  background-image: url(../assets/icons/heart.svg);
  min-width: 25px;
  min-height: 25px;
  background-position: center;
  width: 4vw;
  height: 4vh;
  background-repeat: no-repeat;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 530px) {
  .container__search {
    height: 30px;
  }
}
/*# sourceMappingURL=characters.css.map */