.container, .container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Header__button, .container__card .Header__button {
  min-width: 200px;
  min-height: 30px;
  border-radius: 5px;
  font-weight: 700;
  border-width: 0px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: background-color 0.05s linear 0s;
  transition: background-color 0.05s linear 0s;
  cursor: pointer;
}

.container .container__button, .container__card .container__button {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.5rem;
}

@media (max-width: 1000px) {
  .container .container__button, .container__card .container__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1.5rem 0;
  }
  .container *, .container__card * {
    -webkit-animation: none !important;
            animation: none !important;
  }
}

.container__cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30vh;
}

.container__search input {
  min-width: 170px;
  width: 30vw;
  font-size: clamp(1rem, 5vw, 1.5rem);
  height: clamp(20px, 5vw, 30px);
  text-align: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  color: #fff;
}

.container__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  border-radius: 200px;
}

.container__card--subInfo {
  list-style: none;
}

.container__card--subInfo .subInfo__wall {
  position: absolute;
  display: none;
  z-index: 1;
  color: lemonchiffon;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 500;
}

.container__card--subInfo .subInfo__img--container {
  width: 300px;
  height: 300px;
}

.container__card--subInfo .subInfo__img {
  position: relative;
  border-radius: 2px;
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  z-index: 0;
}

.container__card--subInfo:hover .subInfo__wall {
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__favorite {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
  position: relative;
  width: 90vw;
}

.container__favorite--characters {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.container__favorite .heart {
  aspect-ratio: 1;
  background-size: contain;
  background-image: url(../assets/icons/heart.svg);
  min-width: 25px;
  min-height: 25px;
  background-position: center;
  width: 4vw;
  height: 4vh;
  background-repeat: no-repeat;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dark-mode .Header__button {
  -webkit-animation: jump 0.5s ease 0s 1 normal;
          animation: jump 0.5s ease 0s 1 normal;
}

.light-mode .Header__button {
  -webkit-animation: jumpInfinite 0.5s ease 0s infinite normal;
          animation: jumpInfinite 0.5s ease 0s infinite normal;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background-color: #f5ca0b;
}

.dark-mode .Header__button {
  border: solid 2px #7ddf7a;
  border-top: 0px;
  background-color: #0daec3;
  text-shadow: 0px 5px 10px #7ddf7a;
}

@-webkit-keyframes jumpInfinite {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  2%, 4% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  8% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jumpInfinite {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  2%, 4% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  6% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  8% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes change-light-dark {
  0% {
    background-color: #f5ca0b;
  }
  100% {
    background-color: #0daec3;
  }
}

@keyframes change-light-dark {
  0% {
    background-color: #f5ca0b;
  }
  100% {
    background-color: #0daec3;
  }
}

@-webkit-keyframes change-dark-light {
  0% {
    background-color: #0daec3;
  }
  100% {
    background-color: #f5ca0b;
  }
}

@keyframes change-dark-light {
  0% {
    background-color: #0daec3;
  }
  100% {
    background-color: #f5ca0b;
  }
}
/*# sourceMappingURL=characters.css.map */