.container, .container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__cards {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.container__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30vh;
}

.container__search input {
  width: 200px;
}

.container__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  border-radius: 200px;
}

.container__card--subInfo {
  list-style: none;
}

.container__card--subInfo .subInfo__wall {
  position: absolute;
  display: none;
  z-index: 1;
  color: lemonchiffon;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  font-weight: 500;
}

.container__card--subInfo .subInfo__img--container {
  width: 300px;
  height: 300px;
}

.container__card--subInfo .subInfo__img {
  position: relative;
  border-radius: 2px;
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  z-index: 0;
}

.container__card--subInfo:hover .subInfo__wall {
  -webkit-animation: fadeIn 0.5s both;
          animation: fadeIn 0.5s both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__favorite {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;
  width: 90vw;
}

.container__favorite--characters {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=characters.css.map */