@import "./characters";


.Header{
    background-image: url(../assets/images/rickandmorty.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
    width:100%;
    flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
&__title{
    color: #fff;
   
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-align: center;
}
}
